* {
  box-sizing: boder-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

body header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
  height: 10vh; }
  body header img {
    widht: 100px;
    height: 100px; }
  body header nav {
    display: flex;
    flex-direction: row; }
    body header nav ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 2px;
      align-items: center;
      margin-right: 30px; }
      body header nav ul li {
        list-style: none;
        padding: 5px;
        margin: 0 5px 0 5px;
        border: solid 1px;
        cursor: pointer; }
        body header nav ul li:hover {
          cursor: pointer;
          background-color: grey;
          box-shadow: 3px 3px; }

body main h1.nuestrostrabajos {
  font-family: 'Raleway', sans-serif;
  font-size: 2em; }

body main div {
  width: 100vh; }

body main form {
  background-color: grey; }

body main section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh; }
  body main section div.info {
    display: flex;
    flex-direction: column;
    aling-items: center;
    padding: 20px;
    box-shadow: 6px 6px; }
    body main section div.info h1 {
      margin: 10px;
      font-family: 'Raleway', sans-serif; }
    body main section div.info p {
      max-widht: 300px;
      margin: 20px 10 px;
      text-aline: center; }

body main footer {
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh; }
  body main footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    body main footer ul li {
      display: inline;
      cursor: pointer;
      margin: 10px; }
      body main footer ul li:hover {
        color: white;
        cursor: pointer; }
